* {
  box-sizing: border-box;
}
body {
  background-color: #F2E085;
  font-family: Verdana, Arial, sans-serif;
}
a {
  text-decoration: none;
}
header {
padding-top: 30px;
font-family: "canvas-inline", sans-serif;
font-weight: 500;
font-style: normal; /* Add top padding to avoid overlap with navbar */
}
nav {
  margin: 0;
}
/* .transparent {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.5;
} */
nav ul {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #271719;
}
nav li {
  margin: 0;
  list-style: none;
  font-family: "canvas-inline", sans-serif;
  font-weight: 200;
  font-style: normal;
  display: flex;
}
nav a {
  text-decoration: none;
  font-size: 1rem;
}
nav a:link {
  display: flex;
  gap: 1rem;
  color: white;
}
nav a:visited {
  color: #F2CF8D;
}
nav a:hover {
  color: #e8c42a;
}
.nav-links {
  display: flex;
  gap: 1rem;
}
.menu-icon {
  display: none; /* Hide hamburger icon on larger screens */
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #271719;
  transition: 0.3s;
}
.-star1-responsive-image--main{
  width: 25px;
}
p {
  font-family: "new-zen", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/*---- Tab Links Spot.html-------*/
.tab-links a {
  padding: 10px 20px;
  margin-right: -1px;
  background-color: #f1f1f1;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #333;
}
.tab-links a:target {
  background-color: #ccc;
}
/* Content Display */
.content {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
}
.tab-content :target {
  display: block;
}
/* ------------------------------- */
@media (min-width: 320px) {
  .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      color: white;
      padding: 10px 0;
      text-align: center;
      z-index: 1000;
  }
  .content {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
  }
  /* -----Index.html----- */
  #wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
      margin-left: 5%;
      margin-right: 5%;
      }
        .item-img3{
          display: flex;
          align-items: flex-start;
        }
        .-star1-responsive-image-main{
          width: 2rem;
        }
        .item-img1{
          display: none;
          justify-items: center;
        }
        .item-img2, .item-link1-Google, 
        .item-img4{
          display: grid;
          justify-items: center;
        }
        .item-link2-kitesurf-lessons{
          display: grid;
          justify-items: right;
          padding-top: 15px;
          padding-bottom: 10px;
        }
        .item-link3-spot {
          display: grid;
          justify-items: right;
          padding-bottom: 15px;
        }
        .item-text-main-presentation-1{
          justify-items: center;

        }
        .item-link4-about-us{
          display: grid;
          justify-items: flex-end;
          padding-top: 15px;
          padding-bottom: 10px;
        }
        .item-link5-contact{
          display: grid;
          justify-items: flex-start;
          padding-top: 15px;
          padding-bottom: 10px;
        }
    }
@media only screen and (max-width: 767px) {
  .nav-links {
      display: none; 
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #333;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
  }
  .nav-links.active {
      display: flex; 
  }
  .menu-icon {
      display: flex; 
  }
  header{
    padding-top: 30px;
   }
}

/* ----index.html---- */


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /*---- index.html -----*/
  header{
    padding-top: 30px;
    font-size: 2rem;
   }
   .wrapper {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: max-content;
  }
  /* .global-main-1{
    display: grid;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    grid-column: 1 / 6;
    grid-row: 2 / 1 ;
  } */
  .item-img1{
    display: grid;
    justify-items: flex-end;
    grid-column: 3 / 5;
    max-width: 600px;
  }
  .item-img2{
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
    width: 100;
  }
  .item-img3{
    display: flex;
    grid-column: 1 / 2;
    grid-row: 3 / 3 ;
  }
  .item-link1-Google{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 4 / 4 ;
  }
  }
  .item-link2-kitesurf-lessons{
    display: flex;
    justify-items: center;
    grid-column: 1 / 3;
    grid-row: 5 / 5 ;
  }
  .item-link3-spot{
    display: grid;
    justify-items: flex-start;
    grid-column: 3 / 5;
    grid-row: 5 / 5 ;
  }
  .item-img4{
    display: grid;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 6 / 6 ;
  }
  .item-text-main-presentation-1{
    display: grid;
    align-items: center;
    grid-column: 3 / 5;
    grid-row: 6 / 6 ;
  }
  .item-link4-about-us{
    display: grid;
    grid-column: 4 / 5;
    grid-row: 7 / 7 ;
    justify-items: flex-start;  }
  .item-link5-contact{
    display: grid;
    grid-column: 3 / 5;
    grid-row: 7 / 7 ;
    justify-items: flex-end;
  }
  .item-img5-accomodation{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-column: 3 / 5;
    grid-row: 8 / 8;
  }
  .item-text-main-presentation-accomodation-2{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 8 / 8;

  }

  footer {
    display: grid;
    justify-items: center;
    grid-column: 1 / 5;
    grid-row: 9 / 9;
}
/*---- spot.html -----*/
    .tab1-img-responsive{
      width: 250px;
    }

@media (min-width: 1024px){
  .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fbf6f6;
      color: white;
      padding: 10px 0;
      text-align: center;
      z-index: 1000;
  }
   header{
    padding-top: 50px;
    font-size: 2rem;
   }
   /* ------index.html----- */
  .wrapper {
    width: 80%;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: max-content;
  }
  .global-1{
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    grid-column: 1 / 5;
    grid-row: 2 / 1 ;
  }
  .item-img1{
    display: grid;
    justify-items: flex-end;
    grid-column: 3 / 5;
    max-width: 600px;
  }
  .item-img2{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 1 ;
    width: fit-content;
  }
  .item-img3{
    display: flex;
    align-items: flex-start;
    grid-column: 1 / 2;
    grid-row: 3 / 3 ;
  }
  .item-link1-Google{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 4 / 4 ;
  }
  }
  .item-link2-kitesurf-lessons{
    display: grid;
    justify-items: center;
    grid-column: 2 / 3;
    grid-row: 5 / 5 ;
  }
  .item-link3-spot{
    display: grid;
    justify-items: center;
    grid-column: 3 / 4;
    grid-row: 5 / 5 ;
  }
  .item-img4{
    display: grid;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 6 / 6 ;
  }
  .item-text-main-presentation-1{
    display: grid;
    align-items: center;
    grid-column: 3 / 5;
    grid-row: 6 / 6 ;
  }
  .item-link4-about-us{
    display: grid;
    grid-column: 4 / 3;
    grid-row: 7 / 7 ;
    justify-items: flex-end;  }
  .item-link5-contact{
    display: grid;
    grid-column: 5 / 4;
    grid-row: 7 / 7 ;
    justify-items: flex-end;
  }
  .item-img5-accomodation{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-column: 3 / 5;
    grid-row: 8 / 8;
  }
  .item-text-main-presentation-accomodation-2{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 8 / 8;

  }

  
  
